*{
    padding: 0px;
    margin: 0px;
}

.proj_container{
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #E8E8E8;
}
h3{
    color: #181818;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

h1{
    color: #181818;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
}
body {
    background-color: white;
}

.date_stamps{
    font-size: 13px; 
    font-weight: 900;
}

.title_text{
    font-size: 17px; 
    font-weight: 600;
}

.company_text{
    font-size: 15px; 
    font-weight: 300;
}


.container{
    position: relative;
    width: 90%;
    margin-top: 5%;
}

.exp_container{
    position: relative;
    display: inline-block;
    margin-left: 15%;
    padding-right: 15%;
    width: 45%;
    left: 10%;
    height: auto;
}

.exp_container p{
    display: inline;
    font-weight: 600;
}

.adjust{
    position: relative;
    top: 25px;
}

p{
    color: #1F305E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

#intro_text{
    width: 70%;
    float: right;
    position: absolute;
    left: 25%;
}
#intro_text p{
    font-family: 'Courier New', monospace;
    color: #F6EDED;
    font-size: 28px;
    float: left;
}

.image{
    margin-top: 25px;
    height: 50px;
    width: 55px;
}

.uog_logo{
    height: 48px;
    width: 55px;
}   

.uog_logo_ed{
    position: relative;
    top: -60%;
    height: 48px;
    width: 55px;
}  

ul.navbar{
    z-index:999;
    margin-top: 0 !important;
    top: 0 !important;
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: white;
    width:100%;
    border-bottom: 1px solid black;
  }
  
  li.navbar {
    position: sticky;
    display: inline-block;
  }
  
  li.navbar a {
    position: sticky;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 2px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1F305E;
    font-weight: bold;
    font-size: 13px;
  }

ul{
    margin-top: 10px;
}
  li{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style-type: circle;
    color: #1F305E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
  }
  
  /* CSS */
  .details_button {
    float: left;
    position: relative;
    top: 7px;
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    width: 100px;
    height: 28px;
    /*overflow: hidden;*/
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    vertical-align: middle;
    margin-top: auto;
  }
  
  .details_button:hover,
  .details_button:focus { 
    background-color: #16437E;
    color: #ffffff;
  }
  
  .details_button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }

  .adj_proj_button{
    position: relative;
    left: 29%;
  }

  a{
    color: #ffffff;
    text-decoration: none;
  }

.footer{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    text-align: center;
}

.footer p{
    color: #1F305E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    font-weight: 400;
}

.footer img{
    height:25px;
    width: 25px;
}

.footer a{
    color: #1F305E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: underline;
}

p a{
    color: #1F305E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-decoration: underline;  
}

/*Ipad screen sizes*/
 @media screen and (min-width: 768px) {
    .adj_proj_button{
        position: relative;
        left: 40%;
    }
    ul.navbar a{
        margin-left: 70px;
        position: sticky;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 16px 15px;
        text-decoration: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #1F305E;
        font-weight: bold;
    }
}

/*laptops and desktops*/
@media screen and (min-width: 1025px) {

    .exp_container{
        position: relative;
        display: inline-block;
        margin-left: 15%;
        padding-right: 15%;
        width: 55%;
        left: 10%;
        height: auto;
    }

    .propj_text{
        color: #1F305E;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 16px;
    }
    p{
        color: #1F305E;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 18px;
    }

    #intro_text p{
        font-family: 'Courier New', monospace;
        color: #F6EDED;
        font-size: 50px;
        float: left;
    }

    .date_stamps{
        font-size: 17px; 
        font-weight: 900;
    }
    
    .title_text{
        font-size: 23px; 
        font-weight: 600;
    }
    
    .company_text{
        font-size: 19px; 
        font-weight: 300;
    }

    ul.navbar{
        z-index:999;
        margin-top: 0 !important;
        top: 0 !important;
        position: sticky;
        list-style-type: none;
        margin-left: 0;
        padding: 0;
        /*overflow: hidden;*/
        background-color: white;
        width:100%;
        border-bottom: 1px solid black;
    }
      
      li.navbar {
        position: sticky;
        display: inline-block;
    }
      
      li.navbar a {
        margin-left: 168px;
        position: sticky;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 20px 2px;
        text-decoration: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #1F305E;
        font-weight: bold;
        font-size: 20px;
    }
     
    .proj_wrapper{
        display: flex;
    }
    .proj_container{
        position: relative;
        width: 28%;
        height: 200px;
        border: 1px solid black;
        border-radius: 25px;
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #E8E8E8;
        align-items: center;
    }

    h3{
        color: #181818;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 13px;
    }

    .repo_button{
        position: relative;
        align-items: center;
        background-color: #0A66C2;
        border: 0;
        border-radius: 100px;
        color: #ffffff;
        cursor: pointer;
        font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        width: 100px;
        height: 28px;
        /*overflow: hidden;*/
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
    .rp1{
        position: relative;
        top: -10%;
        left: 29%;
    }
    .rp2{
        position: relative;
        top: 8%;
        left: 29%;
    }
    .rp3{
        position: relative;
        top: 0%;
        left: 29%;
    }

    .footer p,
    .footer a{
        font-size: 16px;
    }
}
